@import "tailwindcss";



/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;
 




.NavLinkStyle{
  @apply flex flex-col justify-center items-center   md:text-xl  font-[500] hover:text-cyan-500 duration-300
}

.icons{
  @apply border-2 rounded-full h-12 w-12 border-cyan-500 hover:bg-cyan-700 duration-300 ;
}
.btn{
  @apply bg-cyan-500 text-xl md:text-2xl px-5 py-2.5 rounded-full text-black font-[600] hover:shadow-lg hover:shadow-cyan-500 hover:bg-black hover:text-white duration-300 shadow-lg shadow-gray-400 block
}

.messages {
  max-height: 400px;
  overflow-y: auto;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
}
.bg-img{
  width: 400px;
  height: 450px;
}

.ani{
  animation: all;
  animation: auly 3s ease-in-out;
}

@keyframes auly{
  0%,
  100%{
    transform: rotate(360dg);
  }
}









